.departureCard 
{
    background-color: #f5f5f5 !important;
}

.departureDetailsCard
{
    margin: 1rem;
    background-color: white;
}

.departureDetailsCard div
{
    color: rgba(0, 0, 0, 0.6);
}

.departureCard  .MuiCardHeader-title 
{
    font-size: 2rem;
}
.departureCard .MuiCardHeader-root,
.departureCard .MuiCardHeader-subheader
{
    padding-bottom:0rem;
    color: black;
}

.wifiSignal
{
    transform: rotate(275deg) !important;
    position: relative;
    top:0.2rem;
    
}

.departureDetailsCard .wifiSignal
{
    animation: fadeIn 1.5s infinite alternate;
}

@keyframes fadeIn {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
