.App {
  text-align: center;
}

.imageSection
{
  background-image: url('./images/bus_1.png') !important;
  height:20vh;
  background-size: cover;
  background-position: 90%;
  background-repeat: no-repeat;
}

.mainContent
{
  padding-bottom: 2rem;
}