.App {
  text-align: center;
}

.imageSection
{
  background-image: url('./utils/images/bus_stop.jpg') !important;
  height:33vh;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  /* background-position: 100%; */
}
